<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>RPI Controller</title>
  </head>


  <body>

<h1>RaspberryPi Controller</h1>

<form  action="/" method="post">
  <input type="text" name="textInput" value="" placeholder="1 ON / 0 OFF">
  <button type="submit" name="button" >Submit</button>
  <h3> <%= state %> </h3>
</form>

  </body>
</html>
